repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy app.py models.py database.py untyped_example.py
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        name: flake8
        entry: flake8 app.py models.py database.py untyped_example.py
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
